.cart-container{
    max-width:1100px;
    margin:40px auto;
}

.cart-title{
    text-align:center;
    margin-bottom:25px;
}

.cart-table{
    width:100%;
    border-collapse:collapse;
}

.cart-table th{
    background:#ececec;
    padding:12px;
    text-align:center;
}

.cart-table td{
    padding:15px;
    vertical-align:middle;
    border-bottom:1px solid #ddd;
}

.cart-product{
    display:flex;
    align-items:center;
    gap:12px;
}

.cart-product img{
    width:60px;
    height:60px;
    object-fit:cover;
}

.cart-qty{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:6px;
}

.cart-actions{
    margin-top:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.cart-total td{
    padding-top:20px;
    font-weight:bold;
}